main .content .talker-card {
  width: 100%;
  background-color: #ffffff50;
  border-radius: 15px;
  margin-bottom: 25px;
  padding: 20px;
}

main .content .talker-card .basic-info {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

main .content .talker-card .basic-info .talker-photo img {
  width: 120px;
  aspect-ratio: 1/1;
  border-radius: 15px;
  object-fit: cover;
}

main .content .talker-card .basic-info .talker-text {
  max-width: 715px;
  min-width: 320px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main .content .talker-card .basic-info .talker-text h3.title {
  font-weight: 500;
  color: var(--secondary-color);
}

main .content .talker-card .basic-info .talker-text p {
  text-indent: 0;
  margin: 0;
}

main .content .talker-card details .abstract {
  font-size: 1.1em;
}

main .content .talker-card details summary {
  font-weight: 600;
  font-size: 1.2em;
  text-indent: 0;
  cursor: pointer;
  background-color: #00aeef20;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.alerta-container {
  background-color: #ffffff90;
  border-radius: 15px;
  color: var(--secondary-color);
  padding: 8px 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  white-space: nowrap;
}

.alerta-texto {
  font-size: 16px;
  font-weight: 600;
  animation: scroll 12s linear infinite;
  display: inline-block;
  padding-left: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
