:root {
  --tb-color1: #85d0ff;
  --tb-color2: #f4e0d0;
  --tb-color-hover: #778899;
}

main .content .program-table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 30px;
}

main .content .program-table table {
  font-weight: 500;
  width: 100%;
  min-width: 800px;
  text-align: center;
  user-select: none;
}

main .content .program-table table th,
td {
  padding: 5px;
  white-space: nowrap;
}

main .content .program-table table th {
  background-color: var(--tb-color1);
}

main .content .program-table table td {
  background-color: var(--tb-color2);
}

main .content .program-table table th,
td {
  width: 165px;
  height: 40px;
}

main .content .program-table table .stick-column {
  position: sticky;
  left: 0;
  z-index: 1;
  width: 60px;
  font-weight: 700;
  background-color: var(--tb-color1);
}

main .content .more-info {
  margin-top: 10px;
  font-size: 1em;
  text-align: justify;
}

main .content .more-info h2 {
  margin: 20px;
}
main .content .more-info h3 {
  line-height: 1.6em;
}

main .content .more-info p {
  margin: 5px 0;
}

main .content .more-info .info-card {
  margin-bottom: 50px;
}
