:root {
    --tb-color1: #C0C0C0;
    --tb-color2: #DCDCDC;
    --tb-color-hover: #778899;
}

main .content {
	max-width: 900px;
	height: 100%;
}

.content .program-table table {
    width: 100%;
    text-align: center;
    user-select: none;
}

.content .program-table table th {
    padding: 5px;
    background-color: var(--tb-color1);
}
.content .program-table table td {
    padding: 5px;
    background-color: var(--tb-color2);
}

.content .program-table table th, td {
    width: 165px;
    height: 40px;
}

.content .program-table table .stick-column {
    width: 60px;
    font-weight: 600;
    background-color: var(--tb-color1);
}

