@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #00aeef;
  --secondary-color: #f58220;
  --tertiary-color: #2e3133;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100dvh;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(8pt, 8pt + 0.75vw, 10pt);
  display: flex;
  flex-direction: column;
}

header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

header .logo-img {
  height: 100%;
}

header .logo-instituicao {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

header .logo-instituicao img:first-child {
  height: 70%;
}

nav #burguer-icon {
  height: 35px;
  width: 35px;
  padding: 5px;
  border-radius: 7px;
  display: none;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
}

nav #burguer-icon span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  margin: 4px 0;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

nav #burguer-icon.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

nav #burguer-icon.active span:nth-child(2) {
  opacity: 0;
}

nav #burguer-icon.active span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

nav ul {
  background-color: var(--primary-color);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

nav ul li a {
  color: white;
  font-weight: 600;
  font-size: 1.6em;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -1pt;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: var(--secondary-color);
  transition: width 0.4s ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  background-image: url(../img/pattern-geometric.jpeg);
  background-repeat: repeat-y;
  background-size: 100% auto;
}

main .content {
  width: 100%;
  max-width: 900px;
  height: 100%;
}

main .content h1,
h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
}
main .content p {
  font-size: 1.2em;
  text-align: justify;
  line-height: 2em;
  text-indent: 2em;
  margin: 1.2em 0;
}

main .content p a {
  font-weight: 600;
  color: var(--secondary-color);
}

main .content hr {
  border: none;
  border-top: 2px solid var(--secondary-color);
  opacity: 0.6;
  margin: 10px 0;
}

footer {
  background-color: var(--tertiary-color);
  color: white;
  font-size: 0.8em;
  text-align: center;
  padding: 5px 0;
}

footer p {
  margin: 10px 0;
}

footer p a {
  color: white;
  font-weight: 600;
}

footer p a:hover {
  color: var(--secondary-color);
}

@media (max-width: 800px) {
  header {
    justify-content: center;
  }

  header .logo-instituicao {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  nav {
    flex-direction: column;
  }

  nav ul {
    gap: 0 15px;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  nav ul.active {
    height: 260px;
  }

  nav ul li a {
    font-size: 1.3em;
  }

  nav #burguer-icon {
    display: block;
  }
}
